 body{
   
 }
.texp{
    text-align: center;
    padding-top: 10px;
}
 .jumbotron{
    background-image: url( BladeRunner_opening.jpg);
 }
 .jumbo{
     background-image: url( BladeRunner_opening.jpg);
    
 }
 .the{
    background-image: url( BladeRunner_opening.jpg);
 }